* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "borelregular", sans-serif;
}

body {
  height: 100vh;
  background-color: #f88379;
}

main {
  container-type: inline-size;
  container-name: mainContainer;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main .choices {
  flex: 1;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  position: relative;
}
main button {
  flex: 1;
  position: relative;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
main button:active {
  top: 5px;
}
main button:hover svg > path {
  stroke: #17817d;
}
main svg {
  fill: #dffffc;
  pointer-events: none;
}
main svg path {
  pointer-events: none;
}
main svg.up#rockDrawing path {
  transform-origin: center;
  transform: rotate(-100deg);
}
main svg.up#paperDrawing > path {
  transform-origin: center;
  transform: rotate(-90deg);
}
main svg.up#scissorsDrawing > path {
  transform-origin: center;
  transform: rotate(-90deg);
}
main svg.left#rockDrawing > path, main svg.left#paperDrawing > path, main svg.left#scissorsDrawing > path {
  transform-origin: center;
  transform: rotateY(3.142rad);
}
main svg.right#rockDrawing > path, main svg.right#paperDrawing > path, main svg.right#scissorsDrawing > path {
  transform-origin: center;
  transform: rotateY(0);
}

.animate {
  animation-name: animate;
  animation-duration: 4.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
}

@keyframes animate {
  0% {
    top: 0;
  }
  15% {
    top: -100vh;
  }
  30% {
    top: 0;
  }
  50% {
    top: 0;
  }
  70% {
    top: -100vh;
  }
  90% {
    top: 0;
  }
}
@container mainContainer (max-width: 800px) {
  body main .choices {
    gap: 10px;
  }
}
@container footer (max-width: 700px) or (height <= 220px) {
  body footer .scoresAndMessages {
    font-size: 1.5em;
  }
}
@container footer (height <= 180px) {
  body footer .scoresAndMessages {
    font-size: 1em;
  }
}
@container footer (max-width: 650px) and (height <= 180px) {
  body footer .scoresAndMessages {
    font-size: 1em;
  }
}
@container footer (max-width: 500px) {
  body footer .scoresAndMessages {
    font-size: 0.8em;
  }
}
footer {
  height: 50%;
  container-type: size;
  container-name: footer;
  display: flex;
  justify-content: center;
  color: #dffffc;
  text-align: center;
  white-space: pre-wrap;
}
footer .scoresAndMessages {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  max-height: 250px;
  min-height: 115px;
  border-top: 20px solid #dffffc;
  border-bottom: 20px solid #dffffc;
  font-size: 2em;
}
footer .scoresAndMessages .userSection,
footer .scoresAndMessages .messages,
footer .scoresAndMessages .computerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .scoresAndMessages > * {
  flex: 1;
  border-left: 20px solid #dffffc;
}
footer .scoresAndMessages > *:last-child {
  flex: 1;
  border-right: 20px solid #dffffc;
}
footer .reset {
  background-color: transparent;
  color: #dffffc;
  padding: 0.8em 1.2em;
  font-size: 0.5em;
  border: 1px solid #dffffc;
  display: inline-flex;
  align-items: center;
  position: relative;
}
footer .reset:hover {
  background-color: #dffffc;
  color: #f88379;
}
footer .reset:active {
  top: 2px;
}

/*# sourceMappingURL=style.css.map */
